<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Apply</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav>
        <div  class="nav-styling">
          <div class="navbar-header">
            <a class="navbar-brand" href="/jobs">EasyApply</a>
          </div>
          <ul class="nav">
            <li class="nav-item"><a class="nav-link disabled" href="">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    <div>
        <h1>Let's Apply to be {{job.title}} of {{job.uploaded_by.company}}</h1>
        {% if company_profile %}
        {% for profile in company_profile %}
        {% if profile.company.id == job.uploaded_by.id %}
        <div class="company-profile">
            <h5>{{job.uploaded_by.company}}'s' Company Profile</h5>
            <p>#{{profile.employee_count}} Employees | Located in {{profile.corp_hq}}</p>
            <p>{{profile.description}}</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="job-requirements">
            <h5>Job Requirements:</h5>
            <label>Experience Required(Years):</label>
            <p>{{job.experience}}</p>
            <label>Skills Required:</label>
            <p>{{job.skills}}</p>
            <label>Description:</label>
            <p>{{job.description}}</p>
        </div>
        <div class="form-submission">
            <form action='/apply/{{job.id}}/submit' method='POST'>
                {% csrf_token %}
                <label>Submit your profile to recruiter?</label>
                <button class="btn btn-primary" type="submit">Submit Application</button>
            </form>
        </div>
    </div>
</body>
</html>