<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Apply</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
</head>
<body>
    <div class="nav">
        <a href="/userid/home">Profile</a>
        <p> | </p>
        <a href="/userid/Profile">Profile</a>
        <p> | </p>
        <a href="/resources">Resources</a>
        <a href="/logout">Logout</a>
    </div>
    <h1>View your matched jobs below. Apply Now!</h1>
    {% if jobs %}
        {% for job in Jobs %}
            <!-- Table of Jobs -->
            <p>Put Jobs Here</p>
        {% endfor %}
    {% endif %}
</body>
</html>