<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Apply</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <nav>
    <div class="nav-styling">
      <div class="navbar-header">
        <a class="navbar-brand" href="/jobs">EasyApply</a>
      </div>
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/profile/{{applicant.id}}">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
    <h1 class="applicant-greeting">Hello {{applicant.first_name}}!</h1>
    <h5>View your matched jobs below. Apply Now!</h5>
    <!-- Below displays all jobs that haven't been posted, and offers ability to apply to the jobs -->
    {% if all_jobs %}
        <div>
          <table class="table table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Company</th>
                      <th scope="col">Job Title</th>
                      <th scope="col">Date Added</th>
                      <th scope="col">Actions</th>
                  </tr>
              </thead>
                {% for job in all_jobs %}
                  <tbody class="tableDetails">
                  {% if job.hired != True %}
                  {% if applicant not in job.applications.all %}
                      <tr>
                          <td>{{job.uploaded_by.company}}</td>
                          <td>{{job.title}}</td>
                          <td>{{job.created_at}}</td>
                          <td><a href="/apply/{{job.id}}">Apply</a></td>
                      </tr>
                  {% endif %}
                  {% endif %}
                {% endfor %}
          </table>
        </div>
    {% endif %}
    <h5>Applied Jobs</h5>
    {% if all_jobs %}
        <div>
          <table class="table table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Company</th>
                      <th scope="col">Job Title</th>
                      <th scope="col">Date Added</th>
                      <th scope="col">Actions</th>
                  </tr>
              </thead>
                {% for job in all_jobs %}
                  <tbody class="tableDetails">
                  {% if job.hired != True %}
                  {% if applicant in job.applications.all %}
                      <tr>
                          <td>{{job.uploaded_by.company}}</td>
                          <td>{{job.title}}</td>
                          <td>{{job.created_at}}</td>
                          <td><a href="/withdraw/{{job.id}}">Withdraw Application</a></td>
                      </tr>
                  {% endif %}
                  {% endif %}
                {% endfor %}
          </table>
        </div>
    {% endif %}
    <h5 class="hired">Hired Jobs</h5>
    {% if all_jobs %}
        <div id="hiredTable">
          <table class="table table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">Company</th>
                      <th scope="col">Job Title</th>
                      <th scope="col">Date Added</th>
                      <th scope="col">Actions</th>
                  </tr>
              </thead>
                {% for job in all_jobs %}
                  <tbody class="tableDetails">
                  {% if job.hired == True %}
                  {% if job.hiree.id == applicant.id %}
                      <tr>
                          <td>{{job.uploaded_by.company}}</td>
                          <td>{{job.title}}</td>
                          <td>{{job.created_at}}</td>
                          <td><a href="/withdraw/{{job.id}}">Withdraw Application</a></td>
                      </tr>
                  {% endif %}
                  {% endif %}
                {% endfor %}
          </table>
        </div>
    {% endif %}    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>