<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Apply</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div >
        <div class="navbar-header">
        <a class="navbar-brand" href="jobs">EasyApply</a>
        </div>
        <ul class="nav">
        <li class ="nav-item"><a class="nav-link" href="/employer/profile">Profile</a></li>
        <li class ="nav-item"><a class="nav-link" href="/employer/addJob">Add Job</a></li>
        <li class ="nav-item"><a class="nav-link" href="/employer/logout">Logout</a></li>
        </ul>
    </div>
  </nav>
      {% if all_jobs %}
        <table class="table table-striped">
          <thead class='thead-dark'>
            <tr>
              <th scope="col">Job</th>
              <th scope="col">Applicant Name</th>
              <th scope="col">Skills</th>
              <th scope="col">Email</th>
              <th scope="col">Hire Applicant?</a></th>
            </tr>
          </thead>
          <tbody>
            {% for job in all_jobs %}
            {% for applicant in job.applications.all %}
            {% for profile in all_profiles %}
            {% if job.uploaded_by.id == company.id %}
            {% if job.hired != True %}
            {% if applicant.id  == profile.applicant.id %}
            <tr>
              <td>{{job.title}}</td>
              <td>{{applicant.first_name}} {{applicant.last_name}}</td>
              <td>{{profile.skills}}</td>
              <td>{{applicant.email}}</td>
              <td><a href='/employer/hire/{{job.id}}/{{applicant.id}}'>Hire</a></td>
              {% endif %}
              {% endif %}
              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      {% if all_jobs %}
        <h5>Filled Jobs</h5>
        <table class="table table-striped">
          <thead class='thead-dark'>
            <tr>
              <th scope="col">Job</th>
              <th scope="col">Hired Applicant</th>
              <th scope="col">Email</th>
              <th scope="col">Retract Offer?</th>
            </tr>
          </thead>
          <tbody>
            {% for job in all_jobs %}
            {% for applicant in job.applications.all %}
            {% if job.uploaded_by.id == company.id %}
            {% if job.hiree.id == applicant.id %}
            {% if job.hired == True %}
            <tr>
              <td>{{job.title}}</td>
              <td>{{job.hiree.first_name}} {{job.hiree.last_name}}</td>
              <td>{{applicant.email}}</td>
              <td><a href="/employer/unhire/{{job.id}}/{{applicant.id}}">Unhire</a></td>
            </tr>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>