<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Apply</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
</head>
<body>
    {% if messages %}
        <div class="alert alert-danger">
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div>
        <h1>Welcome to EasyApply Employer</h1>
        <h3>Login to See Your Applicants!</h3>
        <a href="/">Looking to apply to jobs? Click here!</a>
        <form action="/login" method="POST">
            {% csrf_token %}
            <p>Email<input type="text" name="email"></p>
            <p>Password<input type="password" name="password"></p>
            <button class="btn btn-primary" type="submit">Sign In</button>
        </form>
        <button class="btn btn-primary" onclick="window.location.href='employer/SignUp'">Sign Up</button>
    </div>
</body>
</html>