<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Apply</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div>
        <div class="navbar-header">
        <a class="navbar-brand" href="jobs">EasyApply</a>
        </div>
        <ul class="nav">
        <li class ="nav-item"><a class="nav-link disabled" href="/employer/profile">Profile</a></li>
        <li class ="nav-item"><a class="nav-link" href="/employer/addJob">Add Job</a></li>
        <li class ="nav-item"><a class="nav-link" href="/employer/logout">Logout</a></li>
        </ul>
    </div>
  </nav>
  <h1>Edit {{company_profile.company.company}}'s Profile Page</h1>
  <form action="/employer/update/{{company_profile.id}}/edit" method="POST">
    {% csrf_token %}
    <label>Number of Employees: </label>
    <input type="text" name="employees" value="{{company_profile.employee_count}}">
    <label>Corporate HQ Location: </label>
    <input type="text" name="headquarters" value="{{company_profile.corp_hq}}">
    <label>About the Company: </label>
    <textarea type="text" name="description" rows="5" cols="40">{{company_profile.description}}</textarea>
    <button class="btn btn-primary" type="submit">Update Profile</button>
  </form>
</body>
</html>