<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Apply</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div>
        <div class="navbar-header">
        <a class="navbar-brand" href="jobs">EasyApply</a>
        </div>
        <ul class="nav">
        <li class ="nav-item"><a class="nav-link disabled" href="/employer/profile">Profile</a></li>
        <li class ="nav-item"><a class="nav-link" href="/employer/addJob">Add Job</a></li>
        <li class ="nav-item"><a class="nav-link" href="/employer/logout">Logout</a></li>
        </ul>
    </div>
  </nav>
  {% for profile in company_profiles %}
  {% if profile.company.id == employer.id %}
    <h1 class="companyProfileTitle">{{profile.company.company}}'s Profile Page</h1>
    <p class="companyProfileSub">{{profile.employee_count}} | {{profile.corp_hq}}</p>
    <p class="companyProfileDesc">{{profile.description}}</p>
    <a href="/employer/update/{{profile.id}}">Edit Profile</a>
    <br>
    <br>
  {% endif %}
  {% if profile.description == null %}
  <h5>Create Company Profile Below:</h5>
    <div class="profile-edit">
      <form action="/employer/update" method="POST">
        {% csrf_token %}
        <label>Number of Employees: </label>
        <input type="text" name="employees">
        <label>Corporate HQ Location: </label>
        <input type="text" name="headquarters">
        <label>About the Company: </label>
        <textarea name="description" rows="5" cols="40"></textarea>
        <button class="btn btn-primary" type="submit">Save Profile</button>
      </form>
    </div>
    {% endif %}
    {% endfor %}
</body>
</html>